@import "tailwindcss";

@theme {
  --color-kda-green: #4a9079;
  --color-dark-grey: #1a1a1a;
  --inset-shadow-bar: 0 4px 0 2px rgba(0, 0, 0, 0.25) inset;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@layer components {
  .winning-slot {
    &::before,
    &::after {
      @apply absolute left-1/2 z-10 h-0 w-0 -translate-x-1/2 border-r-[7px] border-l-[7px] border-black border-r-transparent border-l-transparent content-[''];
    }

    &::before {
      @apply top-full border-t-[8px];
    }

    &::after {
      @apply bottom-full border-b-[8px];
    }
  }

  .splash-logo {
    &::before,
    &::after {
      @apply shrink-0 grow-1 bg-white content-[''];
    }

    &::after {
      @apply bg-kda-green;
    }
  }
}
