@import "tailwindcss";

@theme {
  --color-kda-green: #4a9079;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@layer components {
  .bet-bar {
    @apply relative mx-[-1px] bg-black before:bottom-0 before:border-b-[8px] after:top-0 after:border-t-[8px];

    &::before,
    &::after {
      @apply pointer-events-none absolute left-1/2 z-10 h-0 w-0 -translate-x-1/2 border-r-[6px] border-l-[6px] border-black border-r-transparent border-l-transparent content-[''];
    }
  }

  .splash-logo {
    &::before,
    &::after {
      @apply shrink-0 grow-1 bg-white content-[''];
    }

    &::after {
      @apply bg-kda-green;
    }
  }
}
